@{
    ViewData["Title"] = "Nuevo cliente";
}
<br>
<br>
  <div class="mb-3 row">
    <label for="inputText" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div>
  <br>
<button type="button" class="btn btn-success">Guardar</button>