@{
    ViewData["Title"] = "Editar factura";
}
<br>
<br>
<div>
    <h3>Editar la factura actual</h3>
    <br>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th scope="row">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Elegir cliente</option>
                        <option value="1">Juan</option>
                        <option value="2">Toño</option>
                        <option value="3">Maria</option>
                    </select>
                </th>
                <td>
                    <input type="date" id="idate" name="date">
                </td>
            </tr>
        </tbody>
    </table>
</div>